.header {
  background-color: #008080;
  color: white;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 24px;
  margin-right: 10px;
}

nav {
  display: flex;
  align-items: center;
}

.navLink {
  margin-right: 10px;
  text-decoration: none;
  color: white;
}

.navLink:hover {
  color: #00ff00;
}

.button {
  background-color: #00ff00;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
